{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm con-pad">
    
    <article>
        <h3>The air quality in 
            <strong>
                {{ air.data.location.name}}, 
                    {% if air.data.location.region == empty %}
                    {{ air.data.location.country}} 
                {% else %}
                    {{ air.data.location.region}} 
                {% endif %}

            </strong> is
        </h3>
        <div >
            {% if air.data.current.air_quality.us-epa-index == 1 %}
                <h4 style="background-color: rgb(154, 249, 12)">
                    Good
                </h4>
                <div style="background-color: rgb(154, 249, 12)")> 
                    Air quality is satisfactory, and air pollution poses little or no risk.
                </div>
            {% endif %}

            {% if air.data.current.air_quality.us-epa-index == 2 %}
                <h4 style="background-color: yellow">
                    Moderate
                </h4>
                <div style="background-color: yellow" >
                    Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.
                </div>
            {% endif %}

            {% if air.data.current.air_quality.us-epa-index == 3 %}
                <h4 style="background-color: orange">
                    Unhealthy for Sensitive Groups
                </h4>
                <div style="background-color: orange">
                    Members of sensitive groups may experience health effects. The general public is less likely to be affected.
                </div>
            {% endif %}

            {% if air.data.current.air_quality.us-epa-index == 4 %}
            <h4 style="background-color: red">
                Unhealthy
            </h4>
            <div style="background-color: red)">
                Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.
            </div>
            {% endif %}

            {% if air.data.current.air_quality.us-epa-index == 5 %}
            <h4 style="background-color: purple">
                Veary Unhealthy
            </h4>
            <div style="background-color: purple">
                Health alert: The risk of health effects is increased for everyone.
            </div>
            {% endif %}

            {% if air.data.current.air_quality.us-epa-index == 5 %}
            <h4 style="background-color: maroon">
                Veary Unhealthy
            </h4>
            <div style="background-color: maroon">
                Health warning of emergency conditions: everyone is more likely to be affected.
            </div>
            {% endif %}
            
        </div>
        <div>
            Last Updated On: {{ air.data.current.last_updated}}</br>
            Local Time: {{ air.data.location.localtime}}
        </div>
        <div>
            Factors:
            <ul>
                <li>Carbon Monoxide (μg/m3): {{ air.data.current.air_quality.co | round}}</li>
                <li>Ozone (μg/m3): {{ air.data.current.air_quality.o3 | round}}</li>
                <li>Nitrogen dioxide (μg/m3): {{ air.data.current.air_quality.no2 | round}}</li>
                <li>Sulphur dioxide (μg/m3): {{ air.data.current.air_quality.so2 | round}}</li>
                <li>PM2.5 (μg/m3): {{ air.data.current.air_quality.pm2_5 | round}}</li>
                <li>PM10 (μg/m3): {{ air.data.current.air_quality.pm10 | round}}</li>
                <li>US EPA standard: {{ air.data.current.air_quality.us-epa-index}}</li>
                <li>UK Defra Index: {{ air.data.current.air_quality.gb-defra-index}}</li>
            </ul>
        </div>
    </article>
    <form action="/mylocations" method="POST">
        <input 
            type="text"
            hidden 
            name="{{air.data.location.name}}" 
        >
        <input type="submit" value="Add {{air.data.location.name}} to My Locations" class="btn btn-light button">
    </form>    


    <div class="">
        <a href="/locations/new" class="btn btn-light button">Start a New Search</a>
    </div>   
   
</div>
{% endblock %}