{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm con-pad">
    <div class="row">
        {% for profile in profiles limit:1 %}
       
        <h2 class="display-6">
            {{ username }}'s Profile
        </h2>
        <h5 class="card con-pad">
            <strong>
                 Name:
            </strong>
            {{ profile.firstName }} {{ profile.lastName }}</br>
            <strong>
                Email: 
            </strong>
            {{ profile.email }} </br>
            <strong>
                City: 
            </strong>
            {{ profile.city }} </br>
            <strong>
                State: 
            </strong>
            {{ profile.state }} </br>
            <strong>
                Date of Birth: 
            </strong>
            {{ profile.dateOfBirth | date: "%a, %b %d, %y"}} </br>
            <strong>
                Concerns: 
            </strong>
            {{ profile.concerns }} </br>
        </h5>
    </article>
    <a href="/profile/{{profile.id}}/edit" class="btn btn-light button">Edit My Profile</a>
    {% endfor %}
    
    
   
</div>
{% endblock %}