{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm con-pad">
    <article>
        {% for profile in profiles limit:1 %}
       
        <h3>
            {{ username }}'s Profile
        </h3>
        Name: {{ profile.firstName }} {{ profile.lastName }}</br>
        Email: {{ profile.email }} </br>
        City: {{ profile.city }} </br>
        State: {{ profile.state }} </br>
        Date of Birth: {{ profile.dateOfBirth }} </br>
        Concerns: {{ profile.concerns }} </br>
    </article>
    <a href="/profile/{{profile.id}}/edit" class="btn btn-primary">Edit My Profile</a>
    {% endfor %}
    <a href="/profile/create" class="btn btn-primary" id="createButton" onclick="getElementById('createButton').style.display = 'block'">Begin My Profile</a>
    
   
</div>
{% endblock %}