{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Places</h2>
    <div class="row">
        {% for place in places %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ place.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ place.ready }}
                </h5>
                <p class="card-text">
                    Body: {{ place.body }}
                </p>
                <p class="card-text">
                    Amount: {{ place.amount }}
                </p>
                <a href="/places/{{ place.id }}" class="btn btn-info">
                    View {{ place.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}