{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm con-pad">
    
    <article>
        <h3>The air quality in 
            <strong>
                {{ localeDayData.name}}, 
                    {% if localeDayData.region == empty %}
                    {{ localeDayData.country}} 
                {% else %}
                    {{ localeDayData.region}} 
                {% endif %}

            </strong> is
        </h3>
        <div >
            {% if localeDayData.usEpaIndex == 1 %}
                <h4 style="background-color: rgb(154, 249, 12)">
                    Good
                </h4>
                <div style="background-color: rgb(154, 249, 12)")> 
                    Air quality is satisfactory, and air pollution poses little or no risk.
                </div>
            {% endif %}

            {% if localeDayData.usEpaIndex == 2 %}
                <h4 style="background-color: yellow">
                    Moderate
                </h4>
                <div style="background-color: yellow" >
                    Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.
                </div>
            {% endif %}

            {% if localeDayData.usEpaIndex == 3 %}
                <h4 style="background-color: orange">
                    Unhealthy for Sensitive Groups
                </h4>
                <div style="background-color: orange">
                    Members of sensitive groups may experience health effects. The general public is less likely to be affected.
                </div>
            {% endif %}

            {% if localeDayData.usEpaIndex == 4 %}
            <h4 style="background-color: red">
                Unhealthy
            </h4>
            <div style="background-color: red)">
                Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.
            </div>
            {% endif %}

            {% if localeDayData.usEpaIndex == 5 %}
            <h4 style="background-color: purple">
                Veary Unhealthy
            </h4>
            <div style="background-color: purple">
                Health alert: The risk of health effects is increased for everyone.
            </div>
            {% endif %}

            {% if localeDayData.usEpaIndex == 6 %}
            <h4 style="background-color: maroon">
                Hazardous
            </h4>
            <div style="background-color: maroon">
                Health warning of emergency conditions: everyone is more likely to be affected.
            </div>
            {% endif %}
            
        </div>
        <div>
            Last Updated On: {{ localeDayData.last_updated}}</br>
            Local Time: {{ localeDayData.localtime}}
        </div>
        <div>
            Factors:
            <ul>
                <li>Carbon Monoxide (μg/m3): {{ localeDayData.co | round}}</li>
                <li>Ozone (μg/m3): {{ localeDayData.o3 | round}}</li>
                <li>Nitrogen dioxide (μg/m3): {{ localeDayData.no2 | round}}</li>
                <li>Sulphur dioxide (μg/m3): {{ localeDayData.so2 | round}}</li>
                <li>PM2.5 (μg/m3): {{ localeDayData.pm2_5 | round}}</li>
                <li>PM10 (μg/m3): {{ localeDayData.pm10 | round}}</li>
                <li>US EPA standard: {{ localeDayData.usEpaIndex }}</li>
                
            </ul>
        </div>
    </article>
    
    <div class="col-md-6">
        <form action="/comment/{{localeDayData.id}}" method="POST">
            <fieldset>
                <legend>Add Comment</legend>
                <label class="form-label">Comment: </label>
                <input type="text" class="form-control" name="note" placeholder="enter comment here...">
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add Comment">
        </form>
    </div>

    {% if localeDayData.comments.length > 0 %}
        <!--  here we'll add our comment container -->
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- here we need to loop over the comments -->
                <!-- for every comment render a comment.liquid block -->
                {% for comment in localeDayData.comments %}
                    {% render '../comment.liquid', comment: comment, userId: userId, localeDayData: localeDayData %}
                {% endfor %} 
            </div>
        </div>
        {%endif%}    


    <div class="">
        <a href="/location/new" class="btn btn-light button">Start a New Search</a>
    </div>   
    
</div>
{% endblock %}